{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNTIRTA</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <center>
  <h1>Universitas Sultan Ageng Tirtayasa</h1>
</center>
<br>
<br>
    <div class="sidebar">
  <ul>
    <li><a href="/profil">Profil</a></li>
    <li><a href="/faperta">FAPERTA</a></li>
    <li><a href="/feb">FEB</a></li>
    <li><a href="/fh">FH</a></li>
    <li><a href="/fisip">FISIP</a></li>
    <li><a href="/fk">FK</a></li>
    <li><a href="/fkip">FKIP</a></li>
    <li><a href="/ft">FT</a></li>
    <li><a href="/pascasarjana">Pasca Sarjana</a></li>
  </ul>
</div>
<br>
<br>
<center>
<img src="\static\images\untirta.png">
</center>
<br>
<p style="text-align: justify;">Universitas Sultan Ageng Tirtayasa disingkat Untirta, adalah perguruan tinggi negeri yang terdapat di Provinsi Banten, Indonesia. 
  Dengan kampus utama Untirta di Kabupaten Serang, kampus Fakultas Teknik di Kota Cilegon, dan Fakultas Keguruan dan Ilmu Pendidikan di Ciwaru, Kota Serang. Universitas Sultan Ageng Tirtayasa merupakan salah satu perguruan tinggi negeri Indonesia yang berada di Provinsi Banten.</p>
	<br>
<center>
  <table border="1">
		<tbody>
			<tr>
        <th>Logo</th>
        <th><img src="\static\images\logo.webp" height="80px"></th>
			</tr>
      <tr>
        <th>Moto</th>
				<td>	Maju, Bermutu, dan Berkarakter dalam Kebersamaan</td>
      </tr>
      <tr>
        <th>Jenis</th>
        <td>Perguruan Tinggi Negeri</td>
      </tr>
      <tr>
        <th>Didirikan</th>
        <td>	1 Oktober 1981 sebagai Perguruan Tinggi Swasta
          19 Maret 2001 sebagai Perguruan Tinggi Negeri</td>
      </tr>
      <tr>
        <th>Lembaga</th>
        <td>Kementerian Pendidikan</td>
      </tr>
      <tr>
        <th>Induk</th>
        <td>Kebudayaan, Riset, dan Teknologi</td>
      </tr>
      <tr>
        <th>Rektor</th>
        <td>Prof. Dr. Ir. Fatah Sulaiman, ST., MT., IPM., ASEAN.Eng.</td>
      </tr>
      <tr>
        <th>Staf Akademik</th>
        <td>442 (2009)</td>
      </tr>
      <tr>
        <th>Jumlah Mahasiswa</th>
        <td>12.320 (2009)</td>
      </tr>
      <tr>
        <th>Lokasi</th>
        <td>Kabupaten Serang, Banten, Indonesia</td>
      </tr>
      <tr>
        <th>Nama Julukan</th>
        <td>Kampus Peradaban</td>
      </tr>
      <tr>
        <th>Situs Web</th>
        <td>	www.untirta.ac.id</td>
      </tr>
		</tbody>
	</table>
</center>
<br>
<hr>
<br>
<hr>
<br>
<center>
  <h3>Sejarah Singkat</h3>
</center>
<br>

<img class="float-kiri" src="\static\images\sejarahsingkat.png" height="200px">
<br>
<p style="text-align: justify;">
  Sejarah Universitas Sultan Ageng Tirtayasa dimulai dari Yayasan Pendidikan Tirtayasa yang didirikan tanggal 1 Oktober 1980, berkedudukan di Serang, Banten. 
  Pendirian yayasan ini dikukuhkan berdasarkan Akte Notaris Rosita Wibisono, SH. 
  No. 1 tanggal 1 Oktober 1980, yang kemudian diadakan perubahan melalui 
  Akte Notaris Ny. R. Arie Soetardjo, SH. No. 1 tanggal 3 Maret 1986.
</p>
<br>
<p>Maksud dan tujuan pendirian yayasan ini adalah : </p>

<p>1. Membantu usaha-usaha pemerintah dalam bidang pendidikan umum.</p>
<p>2. Mendirikan sekolah-sekolah mulai dari taman kanak-kanak sampai dengan perguruan tinggi, termasuk juga sekolah-sekolah kejuruan.</p>
<p>3. Merencanakan dan mengusahakan sarana pendidikan, serta sarana olah raga.</p>


<br>
<hr>
<br>
<hr>
<br>
<center>
<h3>Mars dan Himne Untirta</h3>
</center>
<h4>
  <p>Mars Untirta</p>
</h4>
  <p>
    (4/4 Cipt. H. Tb. Yayat Suhiyat Do = G Dimercia)
  </p>
  <br>
  <p>
    Bangkitlah semua mahasiswa Untirta
  </p>
  <p>
    Perguruan Tinggi kita
  </p>
  <p>Dengan semboyan maju terus</p>
  <p>Dalam menuntut ilmu</p>
  <p>Senantiasa slalu laksanakan</p>
  <p>Tri Dharma Perguruan Tinggi</p>
  <p>Pengemban pengamal Pancasila</p>
  <p>dan Undang-Undang Dasar Empat Lima</p>
  <br>
  <p>Siap membantu dalam pembangunan</p>
  <p>disegala bidang</p>
  <p>Demi nusa dan bangsa tercinta  </p>
  <p>Indonesia merdeka</p>
  <p>Untirta, Untirta, Universitas Tirtayasa</p>
  <p>Dengan satu cinta mulya</p>
  <p>Untirta tetap jaya (2x)</p>

  <br>
  <h4>
  <p>Himne Untirta</p>
</h4>
  <p>(Denny Soetrisna A.S. (lirik) dan Ari Hariadi (syair))</p>
  <br>
  <p>Mentari yang disini</p>
  <p>Menjanjikan fajar</p>
  <p>Buka mata hatimu</p>
  <p>Memandang sinar terang</p>
  <br>
  <p>Cahayamu bawa cita</p>
  <p>Penerus bangsa</p>
  <p>Untirta jiwa ragaku</p>
  <p>Almamater tercinta</p>
  <br>
  <p>Harapan ku serahkan</p>
  <p>Padamu almamater</p>
  <p>Universitas Tirtayasa</p>
  <p>Tempat ilmu yang abadi</p>
  <p>Yang membawa kemajuan</p>
  <p>Pembebas pikiran bangsa</p>
<br>
<hr>
<br>
<hr>
<br>
<center>
<h3>Kampus</h3>
</center>
<br>
<h4>Serang</h4>
<br>
<center>
<img class="float-kiri" src="\static\images\Gedung_Kuliah_Untirta_Serang.jpg" height="250px">
</center>
<br>
<br>

<p style="text-align: justify;">
  Kampus Serang Universitas Sultan Ageng Tirtayasa berada di Jalan Raya Jakarta KM 4 Pakupatan dan Jalan Ciwaru Raya Nomor 73 Kota Serang, Provinsi Banten. 
  Kampus yang berlokasi di Pakupatan merupakan kampus utama. 
  Terdapat lima fakultas, yaitu Fakultas Hukum (FH), Fakultas Keguruan dan Ilmu Pendidikan (FKIP), Fakultas Pertanian (Faperta), Fakultas Ekonomi (FE), dan Fakultas Ilmu Sosial dan Ilmu Politik (FISIP).
</p>
<p>Kampus Ciwaru merupakan lokasi untuk Program Sarjana Fakultas Keguruan dan Ilmu Pendidikan.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4>Cilegon</h4>
<br>

<img class="float-kiri" src="\static\images\cilegon.jpg" height="250px">
<br>
<br>
<p style="text-align: justify;">
  Fakultas Teknik Untirta berada di wilayah Masterplan Percepatan dan Perluasan Pembangunan Ekonomi Indonesia. Fakultas Teknik Untirta berada pada gerbang dan lintasan perdagangan Jawa–Sumatera serta lintas perdagangan internasional yaitu dengan adanya pelabuhan penyeberangan ASDP di Merak serta beberapa pelabuhan internasional di antaranya Cigading, Bojonegara, dan Krakatau Bandar Samudra. Lokasi Kampus Cilegon berada dekat dengan salah satu klaster industri terbesar di Indonesia (Krakatau Industrial Estate Cilegon). 
  Secara administratif, Fakultas Teknik Untirta berada di Kota Cilegon dan Provinsi Banten.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4>Sindangsari</h4>
<br>
<img class="float-kiri" src="\static\images\untirta.png" height="250px">
<br>
<br>
<br>
<br>
<p style="text-align: justify;">Kampus Sindangsari Untirta merupakan kampus Untirta terbaru yang diresmikan oleh Presiden Joko Widodo pada tanggal 4 Maret 2021.
  Kampus ini menjadi tempat bagi Rektorat Untirta, Fakultas Ekonomi, Fakultas Hukum, Fakultas Pertanian, dan Fakultas Ilmu Sosial dan Ilmu Politik. Kampus Sindangsari merupakan proyek pendanaan yang diperoleh Untirta melalui skema pinjaman dari Islamic Development Bank (IsDB).</p>
<br>
<br>
<br>
<br>
<br>
<br>
  <hr>
<br>
<hr>




</body>
</html>

<style>
  body{
    background-image: linear-gradient(to right, #ffaebc, #6af2f0);
			-webkit-text-size-adjust: 100%;
      font-family: 'GILL sans', 'GILL Sans MT', Calibri, 'Trebuchet MS';
      margin-left: 40px;
      margin-right: 40px;
  }
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: aliceblue;
}
ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #175873;
		}
		li {
			float: left;
		}
		li a, .dropbtn {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		li a:hover, .dropdown:hover dropbtn {
			background-color: #c85250;
			transition: all 0.5s ease;
		}
    .float-kiri {
			float: left;
			margin-right: 50px;
		}
</style>